
  html, body{
    margin: 0;
    height: 100%;

  }
  
  #nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }

  a{
      text-decoration: none;
    }

    a:hover{
        text-decoration: underline;
    }
  
#nav a{
    margin-right: 20px;
    padding-top: 5px;

}

#nav a.topimage{
    width: 20px;
    height: 20px;
  
}

#nav a.button{
   
    background-color: rgb(130, 138, 243); 
}

.favourite-color{
    color: rgb(255, 255, 255);
}

#middle{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo{
    text-align: center;
}

#searchbarcontainer{
    text-align: center;
    margin-top: 20px;
    position: relative;
}

#search, #voice{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search{
    left: 10px;
}

#voice{
    right: 10px;
}

#searchbar{
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 0;
    width: 500px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    border: 1px solid rgb(173, 168, 168);
}

#searchbar:hover{
    box-shadow: 0 0 10px 2px rgb(175, 170, 170);
}

#buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button{
    margin-left: 10px;
    margin-right: 10px;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
    cursor: pointer;
    border-radius: 3px;
    background-color: rgb(221, 217, 217);
    border: 2px solid transparent;
}



body{
    display: flex;
    flex-direction: column;
}

.button:hover{
    box-shadow: 0 0 2px 1px black;
   
    
}

#links{
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

#ind{
    background-color: #eee;
    border-top: 14px solid #eee;
}

#footer-content{
    background: #eee;
    border-top: 1px solid black;
}

#right{
    float: right;
}






